body {
  background: #161624;
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div[class^='col'],div[class*=' myclass']{
    padding-left:0px;
    padding-right:0px;
}

div#title{
  color:white;
  font-size:20px;
  height:36px;
  text-align:center;
  cursor:default;
  margin-top:8px;
}

input {
  height:36px;
  width:100%;
  font-size:25px;
}

select {
  height:36px;
  width:100%;
  font-size:25px;
  color:gray;
}

select option {
  color:#000000;
}

fieldset {
  border:0;
  padding:0; margin:0;
}
